<!DOCTYPE html>



<html>
	<header>
		<title> Alexander's Portfolio Page</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
		<link rel="stylesheet" href="../static/css/home.css">
	</header>


	<body>
		<div class="row navBarStuff">
			<div class="col s4 navSpacing logoCol">
				<a href="/" class="logoName">Alexander's Portfolio Page</a>
			</div>
			<div class="col s2 navSpacing">

			</div>
			<div class="col s2 navSpacing">
				<input class="navOptions" type="submit"  value="About"></input>
			</div>
			<div class="col s2 navSpacing">
				<input class="navOptions" type="submit" value="Resume"></input>
			</div>
			<div class="col s2 navSpacing">
				<input class="navOptions" type="submit" value="Code Examples"></input>
			</div>			
		</div>

		<div class="row openingArea">
			<div class="col s12 profilePicArea">
				<img href="../images/portfolioPicture.jpg" height="100%" width="100%">
			</div>
		</div>
			<div class="row content">

				<div class="row aboutContent">
					<div class="col s2 emptySpace"> </div>
					<div class="col s8 aboutArea">
						<span class="contentHeader">About</span>
						<ul>
							<li>
								<span style="font-weight:bold;">Brief Summary: </span> 
								<span>
									My name is Alexander Potashnik and I was born in New York City. I have academic experience in Economics and Finance from both college and graduate school. 
								</span>
							</li>
						</ul>
					</div>
					<div class="col s2 emptySpace"> </div>
				</div>


			</div>

	</body>
</html>