<!DOCTYPE html>



<html>
	<header>
		<title> Alexander's Portfolio Page</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
		<link rel="stylesheet" href="../static/css/home.css">
	</header>


	<body>
		<nav>
			<div class="nav-wrapper navBarStuff">
				<a href="#!" class="brand-logo left">Alexander's Portfolio Page</a>
					<ul class="right hide-on-med-and-down">
						<li class="navOptionsLi">
							<input class="navOptions" type="submit" href="sass.html" value="About"></input>
						</li>
						<li class="navOptionsLi">
							<input class="navOptions" type="submit" href="badges.html" value="Resume"></input>
						</li>
						<li class="navOptionsLi">
							<input class="navOptions" type="submit" href="collapsible.html" value="Coding Projects"></input>
						</li>
					</ul>
			</div>
		</nav>

		<div class="row openingArea">
			<div class="col s12">
				
			</div>
		</div>

		<div class="row aboutContent">

			<h1>About</h1>

		</div>

	</body>
</html>